version: '3.4'

services:
  db:
    image: mysql:${MYSQL_VERSION:-8.0}
    container_name: nTask_db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${DB_PORT:-3306}:3306"
    volumes:
      - ./db:/var/lib/mysql
    networks:
      - manager_db

  manager:
    image: ${MANAGER_IMAGE:-ntask_manager:latest}
    build:
      context: .
      dockerfile: ./manager/Dockerfile
    container_name: nTask_manager
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${MANAGER_HTTP_PORT:-8080}:8080"
      - "${MANAGER_HTTPS_PORT:-8443}:8443"
    depends_on:
      - db
    command: manager --swagger --verbose --debug
    volumes:
      - ./manager.conf:/config/manager.conf
      - ./output/:/config/output/
      - ./certs/:/config/certs/
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: any
    networks:
      - manager_worker
      - manager_db

  worker:
    image: ${WORKER_IMAGE:-ntask_worker:latest}
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - manager
    command: worker --verbose --debug
    volumes:
      - ./worker.conf:/config/worker.conf
      - ./certs/:/config/certs/
    deploy:
      replicas: ${WORKER_REPLICAS_TEST:-10}
      restart_policy:
        condition: any
    networks:
      - manager_worker

networks:
  manager_worker:
    driver: bridge
  manager_db:
    driver: bridge
