services:
  manager:
    image: ghcr.io/r4ulcl/ntask-manager:dev
#    build:
#      context: .
#      dockerfile: ./manager/Dockerfile
    restart: unless-stopped
    container_name: nTask_manager
    ports:
      - 8080:8080
      - 8443:8443
    depends_on:
      - db
    env_file: .env
    command: manager --swagger --verbose --debug #--configSSHFile ./ssh.conf
    volumes:
      - ./manager.conf:/config/manager.conf
      - ./output/:/config/output/
      - ./certs/:/config/certs/
#      - ./ssh.conf:/config/ssh.conf
#      - ./ssh_key:/config/ssh_key

  db:
    image: mysql
    restart: unless-stopped
#    ports:
#      - 3306:3306
    read_only: true  # Make the root filesystem read-only to prevent malicious writes
    tmpfs:
      - /tmp  # Mount temporary directories in memory (non-persistent)
    user: mysql  # Run the container as a non-root user
    cap_drop:
      - ALL  # Drop all unnecessary capabilities
    cap_add:
      - CHOWN  # Allow the container to manage file ownership, useful for databases
    security_opt:
      - no-new-privileges:true  # Prevent privilege escalation within the container
    environment:
      MYSQL_ROOT_PASSWORD: your_password_root
      MYSQL_USER: your_username
      MYSQL_PASSWORD: your_password
      MYSQL_DATABASE: manager
    volumes:
      - ./db:/var/lib/mysql


  worker1:
#    build: 
#      context: .
#      dockerfile: ./worker/Dockerfile
    image:  ghcr.io/r4ulcl/ntask-worker:dev
    restart: unless-stopped
    container_name: nTask-worker1
    depends_on:
      - manager
    env_file: .env
    command: worker --verbose --debug
    volumes:
      - ./worker.conf:/config/worker.conf
      - ./certs/:/config/certs/

  worker2:
#    build: 
#      context: .
#      dockerfile: ./worker/Dockerfile
    image:  ghcr.io/r4ulcl/ntask-worker:dev
    restart: unless-stopped
    container_name: nTask-worker2
    depends_on:
      - manager
    env_file: .env
    command: worker --verbose --debug
    volumes:
      - ./worker.conf:/config/worker.conf
      - ./certs/:/config/certs/
